/* Reset default browser styles */
body, h1, h2, p, ul, li {
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, sans-serif;
	background-color: #f7f7f7;
	color: green;
}

header {
	background-color: #333;
	color: #fff;
	padding: 10px 0;
	text-align: center;
}

header ul {
	list-style: none;
}

header ul li {
	display: inline;
	margin: 0 10px;
}

header ul li a {
	text-decoration: none;
	color: #fff;
}

.hero {
	background: url(Frontend/src/Assets/MainImage.png) center center;
	background-size: cover;
	text-align: center;
	padding: 100px 0;
	color: green;
}

.hero h1 {
	font-size: 36px;
	margin-bottom: 20px;
}

.hero p {
	font-size: 18px;
	margin-bottom: 30px;
}

.cta-button {
	display: inline-block;
	padding: 10px 20px;
	background-color: #333;
	color: #fff;
	text-decoration: none;
	border-radius: 5px;
	font-weight: bold;
	font-size: 18px;
}

.cta-button:hover {
	background-color: #555;
}

.main-content {
	padding: 20px;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
	background-color: #333;
	color: #fff;
	text-align: center;
	padding: 10px 0;
	font-size: 14px;
}