<%- include('../partials/headerNavHero.ejs') %>

    <!-- Main Content Section -->
    <div class="account-container">
        <h1>My Account</h1>
        <p>Welcome, esteemed adventurer, to your personal realm within The Dice Vault! Here, amidst your epic quests and thrilling escapades, you have control over your destiny and your loot.</p>
        <p>In this magical space, you can track your past exploits, view your acquired treasures, and manage your adventurer's profile. Delve into the depths of your achievements and wield the powers bestowed upon you.</p>
        <p>As you embark on numerous journeys, may your account here be a beacon of valor and a testament to your conquests. For each victory and every challenge faced, your legend grows stronger.</p>
        <hr>
    </div>
    

<%- include('../partials/footer.ejs') %>