<%- include('../partials/headerNavHero.ejs') %>

    <!-- Main Content Section -->
    <div class="text-container">
        <h1>Checkout</h1>
        <p>Thank you for shopping with us! Your journey through The Dice Vault is almost complete. Before you head out on your next adventure, take a moment to review your order details and complete the checkout process.
            <hr>
        </p>
    </div>

<%- include('../partials/footer.ejs') %>