<%- include('../partials/headerNavHero.ejs') %>

    <!-- Main Content Section -->
    <div class="text-container">
        <h1>Contact Us</h1>
        <p>Welcome to our realm of adventures! Whether you seek enchanted dice or magical relics, we're here to assist you on your quest. Contact us using the details below:</p>
        <hr>
        <div class="contact-details">
            <div class="contact-info">
                <img src="Frontend/Assets/wizard.png" alt="Dungeon Master" class="contact-image" width="150" height="150" >
                <div class="info-text">
                    <p>For inquiries, contact our Dungeon Master:</p>
                    <p>Email: <a href="mailto:dungeonmaster@dndrealm.com">dungeonmaster@dndrealm.com</a></p>
                    <p>Phone: <a href="tel:+1234567890">(123) 456-7890</a></p>
                </div>
            </div>
            <div class="contact-info">
                <img src="Frontend/Assets/diceshop.png" alt="Dice Shop" class="contact-image" width="150" height="150">
                <div class="info-text">
                    <p>Visit our enchanted dice shop:</p>
                    <p>Email: <a href="mailto:shopkeeper@dndrealm.com">shopkeeper@dndrealm.com</a></p>
                    <p>Phone: <a href="tel:+1987654321">(987) 654-3210</a></p>
                </div>
            </div>
        </div>
    </div>

<%- include('../partials/footer.ejs') %>