<%- include('../partials/headerNavHero.ejs') %>

    <!-- Main Content Section -->
    <div class="text-container">
        <h1>Create Your Adventurer's Account</h1>
        <p>Prepare to embark on epic quests and forge your legend in the realm of Dungeons & Dragons! Register your adventurer's account to access exclusive quests, enchanted items, and magical artifacts. Join the fellowship and begin your journey into the unknown.</p>
        <hr>
    </div>
    

    <div class="main-content">
        <% if (message) { %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <%= message %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% } %>
        

        <form method="POST" action="/create">
            <label>Username</label>
            <input type="text" name="username" class="form-control" placeholder="Username...">
            <label>Password</label>
            <input type="password" name="password" class="form-control" placeholder="Password..."">
            <label>Confirm Password</label>
            <input type="password" name="confirm_password" class="form-control" placeholder="Confirm Password...">
            <br>
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-dark">Create Account</button>
            </div>
        </form>
    </div>

<%- include('../partials/footer.ejs') %>