<%- include('../partials/headerNavHero.ejs') %>

    <!-- Main Content Section -->
    <div class="text-container">
        <h1>Greetings Traveler</h1>
        <p>Welcome to The Dice Vault. Established in October 2023.<br>
    Here you will find an assortment of dice and accessories that will aid you in your travels.<br> Stay a while, maybe order some dice. And as always, good luck on your adventures.<hr></p>
    </div>

<%- include('../partials/footer.ejs') %>