<%- include('../partials/headerNavHero.ejs') %>

    <!-- Main Content Section -->
    <div class="text-container">
        <h1>Welcome Back, Adventurer!</h1>
        <p>Enter the mystical realm once more and resume your epic journey! Log in to your adventurer's account to access saved quests, mystical treasures, and continue your legendary adventures. Unleash your powers and conquer the challenges that await!</p>
        <hr>
    </div>
    

    <div class="main-content">
        <% if (message) { %>
            <div class="alert alert-<%= message_style %> alert-dismissible fade show" role="alert">
                <%= message %>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        <% } %>
        <form method="POST" action="/login">
            <label>Username</label>
            <input type="text" name="username" class="form-control" placeholder="Username...">
            <label>Password</label>
            <input type="password" name="password" class="form-control" placeholder="Password..."">
            <br>
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-dark">Login</button>
            </div>
        </form>
    </div>

    <%- include('../partials/footer.ejs') %>